<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class='ion-justify-content-center'>
      <ion-col offset="3">
        <div class="cont" >
        <img class="image" src="assets/logo.jpeg">
      </div>
      <h2 class="title">
        Clear Wund
      </h2>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div class="lower-bar ion-text-center ion-justify-content-center">
    <div class="btns ion-padding ion-margin-top">
      <ion-button  class="btn ion-text-center" color="light" size="small" expand="fill">
        <ion-avatar slot="start" class="ion-justify-content-start" slot='start'>
          <img src="assets/google.svg" />
        </ion-avatar>
        Continue with Google
      </ion-button>
      <ion-button class="btn ion-text-center" size="small" color="light" expand="fill">
        <ion-avatar slot="start">
          <img src="assets/email.png" />
        </ion-avatar>
        Continue with Email
      </ion-button>
    </div>
    <ion-label color="light">
      Terms Of Use
    </ion-label>
</div>

  
</ion-content>
