<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-nav [root]="component">
        <ion-button [routerLink]="['/home', 'journal']" fill="clear">
          Back
          <ion-icon slot="icon-only" name="caret-back"></ion-icon>
        </ion-button>
    </ion-nav>
    <ion-title>New Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="ion-padding">Journal Pad</h3>
  <form>

    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input style="font-size:1.3rem" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-textarea rows="20" ></ion-textarea>
    </ion-item>
    <div  class="ion-padding ion-margin-top">
      <ion-button type="submit" expand="block">Add Journal Entry</ion-button>
    </div>
  </form>
</ion-content>

